@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
    overflow: hidden;
}

#viewerContainer {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none !important;
}

.singleViewportTop {
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
}

.singleViewportSide {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.twoViewportsTop {
    height: 100vh;
    top: 0;
    position: absolute;
}

#verticalDivider {
    height: 70%;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
            to bottom,
            rgba(75, 75, 75, 0) 0%,
            rgba(75, 75, 75, 1) 48%,
            rgba(75, 75, 75, 0) 100%
    );
    border-image-slice: 1;
    position: absolute;
    left: 58%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dividerHidden {
    visibility: hidden;
}

.dividerVisible {
    visibility: visible;
}

.twoViewportsSide {
    height: 100vh;
    top: 0;
    position: absolute;
}

.side-menu-container {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: fixed;
    right: 0;
}

.treeview-main {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f1f1f;
    overflow: hidden;
    font-size: 11.5px;
    right: 0;
}

.treeview > .toggle {
    pointer-events: all;
    cursor: pointer;
}

.treeview > .toggle:hover {
    color: #63b1de;
    fill: #63b1de;
}

#selectedTop,
#selectedSide {
    cursor: none;
}

.lazy-image-menu-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: #292929;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: 2;
    width: 256px;
}

.lazy-images-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.lazy-image-text-container {
    display: flex;
    position: absolute;
    margin-top: 93%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    width: 80%;
}

.lazy-image-text {
    display: inline-block;
    opacity: 0.6;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #e3e3e3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 117px;
    margin-right: 4px;
}

.images-in-workspace {
    width: 100%;
    height: 20px;
    margin-top: 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.58px;
    text-align: center;
    color: #e3e3e3;
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 0px;
    background-color: #292929;
    z-index: 1;
    padding: 1rem 0 1rem 1rem;

}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px;
    border: solid 1px #4e4e4e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
